# Sanity test of python package
Test-Command: python3 -c "import sys, torch as th; print(sys.version, th.__path__, th.__version__)"
Depends: python3-torch,

# Unit test of python package
Test-Command: python3 test/run_test.py -v -pt
Depends: @, python3-pytest, python3-hypothesis

# Unit test of the low level C++ libraries
Test-Command: find /usr/lib/libtorch-test -type f -executable -exec '{}' \;
Depends: libtorch-test,
