#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS   = hardening=+all
export DEB_CFLAGS_MAINT_APPEND   = # -march=native
export DEB_CXXFLAGS_MAINT_APPEND = # -march=native
export DEB_LDFLAGS_MAINT_APPEND  = -Wl,--as-needed
export LC_ALL=C.UTF-8
export PYBUILD_DISABLE_python2 = 1 # No more Python2 Packages
export PYBUILD_NAME = torch

# configurations
export BLAS = OpenBLAS
export CFLAGS = $(CPPFLAGS) $(shell dpkg-buildflags --get CFLAGS) -gsplit-dwarf
export CXXFLAGS = $(CPPFLAGS) $(shell dpkg-buildflags --get CXXFLAGS) -gsplit-dwarf
export NO_CUDA = 1 # Will never build CUDA version. Use Anaconda/Pip please.
export REL_WITH_DEB_INFO = ON
export USE_CUDA = OFF
export USE_CUDNN = OFF
export USE_DISTRIBUTED = ON
export USE_FBGEMM = OFF
export USE_FFMPEG = ON
export USE_GFLAGS= ON
export USE_GLOG = ON
export USE_LEVELDB = ON
export USE_LMDB = ON
export USE_MIOPEN = OFF
export USE_MKLDNN = OFF
export USE_NNPACK = OFF
export USE_OPENCV = ON
export USE_QNNPACK = OFF
export USE_REDIS = OFF
export USE_ROCM = OFF
export USE_SYSTEM_LIBS = ON
export USE_SYSTEM_NCCL = OFF
export USE_XNNPACK = ON
export USE_ZMQ = ON
export USE_ZSTD = OFF

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
export MAX_JOBS := $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif


%:
	dh $@ -Spybuild --with python3

override_dh_auto_clean:
	dh_auto_clean
	-find . -type d -name __pycache__ -exec rm -rf '{}' +

override_dh_auto_configure:
	cd third_party/; rmdir googletest; ln -s /usr/src/googletest .
	dh_auto_configure

override_dh_auto_build:
	: # In order to avoid building everything twice.

override_dh_auto_test:
	:

override_dh_auto_install:
	python3 setup.py install --install-layout=deb \
		--root=$(shell pwd)/debian/python3-torch/
	# move the headers out of the python package
	mkdir -p debian/libtorch-dev/usr/include
	-mv debian/python3-torch/usr/lib/python3*/dist-packages/torch/include/* \
		debian/libtorch-dev/usr/include/
	-cd debian/python3-torch/usr/lib/python3*/dist-packages/torch/include/; \
		ln -s /usr/include/torch . ;\
		ln -s /usr/include/caffe2 . ;\
		ln -s /usr/include/ATen . ;\
		ln -s /usr/include/c10 .
	# move the (public) shared libs out of the python package
	mkdir -p debian/libtorch1/usr/lib/$(DEB_HOST_MULTIARCH)/
	-mv debian/python3-torch/usr/lib/python3*/dist-packages/torch/lib/*.so.* \
		debian/libtorch1/usr/lib/$(DEB_HOST_MULTIARCH)/
	# move the links to shared libs out of the python package
	mkdir -p debian/libtorch-dev/usr/lib/$(DEB_HOST_MULTIARCH)/
	-cd debian/python3-torch/usr/lib/python3*/dist-packages/torch/lib ; \
		$(RM) libc10.so libcaffe2_detectron_ops.so libcaffe2_module_test_dynamic.so \
			libcaffe2_observers.so libshm.so libtorch_cpu.so libtorch_python.so libtorch.so # don't remove libtorch_global_deps.so 
	-cd debian/libtorch-dev/usr/lib/$(DEB_HOST_MULTIARCH)/; \
		ln -s libc10.so.1 libc10.so ;\
		ln -s libcaffe2_detectron_ops.so.1 libcaffe2_detectron_ops.so ;\
		ln -s libcaffe2_module_test_dynamic.so.1 libcaffe2_module_test_dynamic.so ;\
		ln -s libcaffe2_observers.so.1 libcaffe2_observers.so ;\
		ln -s libshm.so.1 libshm.so ;\
		ln -s libtorch_cpu.so.1 libtorch_cpu.so ;\
		ln -s libtorch_python.so.1 libtorch_python.so ;\
		ln -s libtorch.so.1 libtorch.so
	# move the cmake files out of the python package
	mkdir -p debian/libtorch-dev/usr/lib/$(DEB_HOST_MULTIARCH)/
	-mv debian/python3-torch/usr/lib/python3*/dist-packages/torch/share/cmake \
		debian/libtorch-dev/usr/lib/$(DEB_HOST_MULTIARCH)/
	# move the test binaries out of the python packaage
	mkdir -p debian/libtorch-test/usr/lib/libtorch-test/
	-mv debian/python3-torch/usr/lib/python3*/dist-packages/torch/test/* \
		debian/libtorch-test/usr/lib/libtorch-test/

override_dh_python3:
	dh_python3 --requires=requirements.txt --no-ext-rename
	dh_numpy3

override_dh_auto_clean:
	-$(RM) -r build*
	-$(RM) -f third_party/googletest

override_dh_dwz:
	: # FTBFS
